<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/lackaff/">professional profile</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-medium fa-lg main-list-item-icon"></span>
    <a href="https://medium.com/@lackaff">essays and articles</a>
  </li>
  <li class="main-list-item">
    <span class="ai ai-google-scholar ai-lg main-list-item-icon"></span>
    <a href="https://scholar.google.com/citations?hl=en&user=srt-YwEAAAAJ&view_op=list_works&sortby=pubdate">scholarship</a>
  </li>
  <li class="main-list-item">
    <span class="ai ai-researchgate ai-lg main-list-item-icon"></span>
    <a href="https://www.researchgate.net/profile/Derek_Lackaff">self-archived writing</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/lackaff">code</a>
  </li>
</ul>
